:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

.game-name {
  display: flex;
  justify-content: center;
  font-weight: bold;
  border: 1rem dotted hotpink;
  color: brown;
  /*background-color: whitesmoke; */
  top-margin: 0.5rem;
  padding: 1rem;
  width: 100%;
}

.player-table {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  border: 0.5rem solid purple;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1rem solid orange;
  width: 100%;
}

.card-deck {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.dealers-hand {
  list-style: none;
  border: 0.25rem solid midnightblue;
  color: red;
  width: auto;
}

.player-1 {
  list-style: none;
  border: 0.25rem solid midnightblue;
  color: red;
  width: auto;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightcoral;
}

.button #deal {
  width: auto;
  font-size: 1.5rem;
  border: 0.25rem solid black;
  color: white;
  background-color: red;
  padding: 1rem;
}

@media only screen and(min-width: 700px) {
  .game-name {
    font-size: 2rem;
    color: purple;
    width: 33%;
  }
}
